<ul class="menu">
  <li class="<%=visible_for(EXPEDITOR)%>"><%= link_to 'Заказы', expeditions_path %></li>
  <li class="<%=visible_for(USER)%>"><%= link_to 'Новый заказ', new_order_path %></li>
  <li class="<%=visible_for(USER+ADMIN+TESTER)%>"><%= link_to 'Заказы', orders_path %></li>
  <li class="<%=visible_for(ADMIN+TESTER)%>"><%= link_to 'Доставка', expeditions_path %></li>
  <li class="<%=visible_for(EXPEDITOR+ADMIN+TESTER)%>"><%= link_to 'Отгрузки', controller: 'expeditions',action: 'view' %></li>
  <li class="<%=visible_for(ADMIN+TESTER)%>"><%= link_to 'Изделия', items_path %></li>
  <li class="<%=visible_for(ALL)%>"><%= link_to 'Сообщения', sendmen_path %></li>
  <li class="<%=visible_for(ADMIN+TESTER)%>"><%= link_to 'Логи сессий', action: 'view', controller: 'users'%></li>
  <li class="<%=visible_for(ADMIN+TESTER)%>"><%= link_to 'Админка', users_path %></li>
  <li class="<%=visible_for(ALL)%>"><%= link_to 'Выход', sessions_path %></li>
</ul>
