<table class="tbody">
<% @orders.each do |i|%>
        <tr>
            <td class="status"><%= i.id %></td>
            <td class="date"><%= i.deliver_at %></td>
            <td class="full"><%= i.name_user(@users_name) %></td>
            <td class="art"><%= i.q_box %></td>
            <td class="art"><%= i.name_status %></td>
            <td class="symbol"><%= link_to 'Посмотреть', i %></td>
        </tr>
  <% end %>
</table>
