<table class="tbody">
  <% @out_letters.each do |u|%>
      <tr>
        <td class="id"><%= u.id %></td>
        <td class="club"><%= u.created_at %></td>
        <td class="mail"><%= u.name_user(@users_name) %></td>
        <td class="full"><%= u.comment %></td>
        <td class="status"><%= u.status %></td>
        <td class="symbol"><%= link_to 'Просмотр', u %></td>
  <% end %>
</table>
